<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  має на меті допомогти дослідникам виконати свою роботу якнайшвидше 
  з меншими проблемами, навчаючи їх базовим навичкам наукових обчислень.
  Цей практичний семінар охоплюватиме основні концепції та інструменти. В тому 
  числі, розробку програм, контроль версій, управління даними та 
  автоматизацію завдань. 
  Слухачів закликають допомагати один одному та застосовувати 
  отримані знання для власних дослідницьких задач.
</p>
<p align="center">
  <em>
    Для отримання додаткової інформації про те, чого ми навчаємо і чому, 
    будь ласка, перегляньте нашу статтю
    "<a href="https://doi.org/10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>" 
    (Найкращі практики для наукових обчислень).
  </em>
</p>
