<div class="row">
  <div class="col-md-6">
    <h3>1-й День</h3>
    <table class="table table-striped">
      <tr> <td>До початку</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Опитування перед семінаром</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Автоматизація завдань за допомогою оболонки Unix</td> </tr>
      <tr> <td>10:30</td>  <td>Ранкова перерва</td> </tr>
      <tr> <td>11:00</td>  <td>Автоматизація завдань за допомогою оболонки Unix (Продовження)</td> </tr>
      <tr> <td>12:00</td>  <td>Обідня перерва</td> </tr>
      <tr> <td>13:00</td>  <td>Створення програм за допомогою Python</td> </tr>
      <tr> <td>14:30</td>  <td>Післяобідня перерва</td> </tr>
      <tr> <td>15:00</td>  <td>Створення програм за допомогою Python (Продовження)</td> </tr>
      <tr> <td>16:00</td>  <td>Підсумок</td> </tr>
      <tr> <td>16:30</td>  <td>Кінець семінара</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>2-й День</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Контроль версій за допомогою Git</td> </tr>
      <tr> <td>10:30</td>  <td>Ранкова перерва</td> </tr>
      <tr> <td>11:00</td>  <td>Контроль версій за допомогою Git (Продовження)</td> </tr>
      <tr> <td>12:00</td>  <td>Обідня перерва</td> </tr>
      <tr> <td>13:00</td>  <td>Керування даними за допомогою SQL</td> </tr>
      <tr> <td>14:30</td>  <td>Післяобідня перерва</td> </tr>
      <tr> <td>15:00</td>  <td>Керування даними за допомогою SQL (Продовження)</td> </tr>
      <tr> <td>16:00</td>  <td>Підсумок</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Опитування після семінару</a></td> </tr>
      <tr> <td>16:40</td>  <td>Кінець семінара</td> </tr>
    </table>
  </div>
</div>
