<div id="editor">
  <h3>Текстовий редактор</h3>

  <p>
    Коли ви пишете код, приємно мати текстовий редактор, оптимізований для
    написання коду, з такими функціями, як автоматичне кольорове підсвічування
    ключових слів. Текстовий редактор за замовчуванням у macOS і Linux
    зазвичай Vim, який не є інтуїтивним та зрозумілим.
    Якщо ви випадково "застрягли" в ньому, натисніть клавішу
    <kbd>Esc</kbd>, а потім <kbd>:</kbd>+<kbd>Q</kbd>+<kbd>!</kbd>
    (двокрапка, маленька літера 'q', знак оклику), а потім натисніть
    клавішу <kbd>Return</kbd>, щоб повернутися до оболонки.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#editor-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#editor-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#editor-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="editor-windows">
        <p>
          nano є простим і основним редактором, який інструктори
          використовують на семінарі.
          Встановлюється разом з Git.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="editor-macos">
        <p>
          nano є простим і основним редактором, який інструктори
          використовують на семінарі.
          Він повинен бути попередньо встановлений.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="editor-linux">
        <p>
          nano є простим і основним редактором, який інструктори
          використовують на семінарі.
          Він повинен бути попередньо встановлений.
        </p>
      </article>
    </div>
  </div>
</div>
