<div id="r">
  <h3>R</h3>

  <p>
    <a href="https://www.r-project.org">R</a> - це мова програмування, 
    яка особливо потужна для дослідження, візуалізації та статистичного 
    аналізу даних. Для взаємодії з R ми використовуємо
    <a href="https://www.rstudio.com/">RStudio</a>.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#rstats-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#rstats-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#rstats-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="rstats-windows">
        <p>
          Встановіть R, завантаживши та запустивши 
          <a href="https://cran.r-project.org/bin/windows/base/release.htm">цей файл .exe</a>
          з <a href="https://cran.r-project.org/index.html">CRAN</a>.
          Також, будь ласка, встановіть
          <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio IDE</a>.
          Зверніть увагу, що якщо у вас є окремі облікові записи 
          користувачів і адміністраторів, вам слід запускати інсталятори 
          від імені адміністратора (клацніть правою кнопкою миші на .exe 
          файлі та виберіть "Запуск від імені адміністратора" замість 
          подвійного клацання). А інакше проблеми можуть виникнути 
          пізніше, наприклад, при встановленні пакунків R.
        </p>
        <h4>Відео-інструкція</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/q0PjTAylwoU?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="rstats-macos">
        <p>
          Встановіть R, завантаживши та запустивши
          <a href="https://cran.r-project.org/bin/macosx/R-latest.pkg">цей файл .pkg<</a>
          з <a href="https://cran.r-project.org/index.html">CRAN</a>.
          Також, будь ласка, встановіть 
          <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio IDE</a>.
        </p>
        <h4>Відео-інструкція</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/5-ly3kyxwEg?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="rstats-linux">
        <p>
          Інструкції щодо встановлення R на різних платформах Linux 
          (debian, fedora, redhat та ubuntu) можна знайти за адресою 
          <https://cran.r-project.org/bin/linux/>. Вони накажуть вам 
          скористатися вашим менеджером пакунків (наприклад, для Fedora 
          запустіть <code>sudo dnf install R</code>, а для Debian/Ubuntu 
          додайте репозиторій ppa і потім запустіть 
          <code>sudo apt-get install r-base</code>).
          Також, будь ласка, встановіть
          <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio IDE</a>.
        </p>
      </article>
    </div>
  </div>
</div>
